@CHARSET "UTF-8";
.leftcolumn{
	
position: absolute;
text-align:center;
    left: 0px;
    top: 30px;
    width: 50%;

}
.rightcolumn{
    position: absolute;
    text-align:center;
    right: 0px;
    top:30px;
    width: 50%;
}
.logoutMenuLeft{
	text-align:left;

}
.logoutMenuRight{
	text-align:right;
	
}
.logoutMenuCenter{
	text-align:center;
	width: 20%;
}
.menuContainer{
	top:0px;
	width: 100%;
	height: 30px;
}
.forms{
	text-align:right;

}
.textField{
	position: relative;
	margin: auto;
}
.message{
	position: absolute;
}